openai
fastapi
uvicorn
opencv-python-headless 
python-multipart
aiofiles
oss2
requests
azure-cognitiveservices-speech 
pydub 
pyaudio 
pytz 
alibabacloud_ocr_api20210707==2.0.4
pyzbar
qrcode
websockets
dashscope==1.16.0
volcengine
edge_tts
